/* 
    Document   : FormStyle
    Created on : Oct 27, 2012, 5:25:09 PM
    Author     : dwpyle1
    Description:
        This stylesheet will control the layout of the ViewApplication.php file for the popup.
*/

root { 
    display: block;
}
#Application
{
    width:800px;
    padding:5px 5px 0 5px;
    margin:-32px -10px 0 -10px;
    
}
#Applicationheader{
    text-align: center;
    background: #4f6228;
    width:100%;
    height:60px;
}
#Application .content{
    padding:5px 5px 5px 5px;
}


