/* 
    Document   : FormStyle
    Created on : Oct 27, 2012, 5:25:09 PM
    Author     : dwpyle1
    Description:
        This stylesheet will control the layout of the forms file for the popup.
*/

root { 
    display: block;
}
#Application
{
    width:800px;
    padding:5px 5px 0 5px;
    margin:-32px -10px 0 -10px;
    
}

#Applicationheader{
    text-align: center;
    background: #4f6228;
    width:100%;
    height:60px;
}
#Application .content{
    padding:5px 5px 5px 5px;
}

.tableForm{
    border:#000 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background:#a7b093;
    padding:20px 20px 20px 20px;
    
}
.tableForm input{
    height:24px;
    font-size: 22px;
}
.tableForm tr {
    text-align: left;
    vertical-align: top;
}
.tableForm tr .greenBackground {
    background:#4f6220;
}
.tableForm tr .greyBackground{
    background: #DEDBC3;
}
.tableForm tr .darkBackground{
    background: #3f3f3f;
}
.tableForm .hr{
    text-align: left;
    vertical-align: top;
    height:1px;
}
.ie input{
    height:35px;
    font-size:inherit;
}

label {
    }
label.error { 
     color: red;
     font-size: 20px;
    }
.ie label{
    width:255px;
}
.formheader{
    font-size: 24px;
    font-weight: bold;
    color:#4f6228;
    position:relative;
    left:150px;
    top:25px;
    background:#a7b093;
    padding:5px 10px 5px 10px;
}