/* 
    Document   : homeListing
    Created on : Oct 13, 2012, 5:37:10 PM
    Author     : dwpyle1
    Description:
        This stylesheet will manage the elements on the individual house pages
*/

#houseListing{
    width:1000px;
    border-collapse: collapse;
    border:1px solid #000000;
    margin:0px auto 20px auto;
}
#houseListing tr{
    padding:0 10px 0 10px;
    border:1px #000000 solid;
}
#houseListing td{
    padding:5px 5px 5px 5px;
    border:1px #000000 solid;
}
.redBackground{
    background:#ff3300;
}
.greyBackground{
    background:#959595;
}
.greenBackground{
    background:#4f6220;
}
.mainPhoto{
    width:150px;
    height:150px;
}
.thumbs{
    width:40px;
    height:40px;
}
.alignCenter{
    vertical-align: middle;
    text-align: center;
}
#innerTable{
    border:none;
    margin:0px 0px 0px 0px;
    height:100%;
    width:100%;
}
#innerTable tr{
    border:none;
    height:19px;
    padding:4px 0px 4px 0px;
    margin:0px 0px 0px 0px;
}
#innerTable td{
    height:19px;
    border:none;
    padding:4px 0px 4px 0px;
    margin:0px 0px 0px 0px;
}