
/*Gradient Fill for the background of the body*/
body 
{
        font-family: calibri;
	min-height: 1000px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(204,201,146,1) 32%, rgba(204,201,146,1) 95%, rgba(166,158,100,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(32%,rgba(204,201,146,1)), color-stop(95%,rgba(204,201,146,1)), color-stop(100%,rgba(166,158,100,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(204,201,146,1) 32%,rgba(204,201,146,1) 95%,rgba(166,158,100,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(204,201,146,1) 32%,rgba(204,201,146,1) 95%,rgba(166,158,100,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(204,201,146,1) 32%,rgba(204,201,146,1) 95%,rgba(166,158,100,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(204,201,146,1) 32%,rgba(204,201,146,1) 95%,rgba(166,158,100,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a69e64',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        text-align: center;
        
}

.ie body{
    cursor: default;
}
.ie img{
    border:none;
}


/*Wrapper element to hold all content on the page*/
#wrapper 
{
    background-color:#FFFFFF;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: -40px;
    margin-top: 50px; 
    padding:0px 0px 70px 0px;
    text-align: left;
    min-width:1000px;
    min-height:100px;
    
}
.login{
    padding: 5px 10px 10px 10px;
    border:#FFFFFF;
    border:solid;
    border-width: 2px;
    text-align:center;
    width:400px;
}
#header{
    width:100%;
    height:auto;
    min-height: 100px;
    padding:5px 5px 0 5px;
}
/*Class to be used on the Logo photo*/
.logo{
    width:100px;
    height:100px;
    border:none;
    float:left;
}
h1.header{
        color:#4f6228;
        float:left;
        padding:10px 0 0 50px;
        
}
h2.subHeader{
        padding:20px 0 0 50px;
        float:left;
}

/*header for the title of each page in the content section
*/
h1.Title{
	color:#4F6228;
	font-weight: bold;
	padding:0px 0px 0px 20px;

}
h2.Title{
	color:#000000;
	font-size: .9em;
	padding:0 0 0 60px;
}
hr.Title{
	margin:0 0 0 0;
        padding:0 0 0 0;
	position:relative;
	bottom:28px;
	color:#4F6228;
	background-color:#4F6228;
	width:100%;
	height: 3px;
}



/*Main content section where the content will be stored on each page
*/
#mainContent{
	padding:0px 20px 0px 20px;
}

/*Layout left of the content on a page*/
#LayoutLeft
{
	width:20%;
	float:left;
	padding:0 0 0 0;
	margin: 0 0 0 0;
}

/*layout right for the content on a page*/
#layoutRight
{
	float:left;
	width:80%;
	padding:0 0 0 0;
	margin: 0 0 0 0;
}

/*layout bottom for the content on a page*/
#layoutBottom
{
	background-color:#FFFFFF;
	
	width:100%;
        height:100px;
        
}


/*css for the button class for creating buttons
*/
.button{
	border:none;
	text-shadow: #DDD 2px 2px 2px;
	padding:5px 10px 5px 10px;
	text-decoration:none;
	color:black;
	background: rgb(214,209,174); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(214,209,174,1) 0%, rgba(237,237,237,1) 44%, rgba(214,209,174,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(214,209,174,1)), color-stop(44%,rgba(237,237,237,1)), color-stop(99%,rgba(214,209,174,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(214,209,174,1) 0%,rgba(237,237,237,1) 44%,rgba(214,209,174,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(214,209,174,1) 0%,rgba(237,237,237,1) 44%,rgba(214,209,174,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(214,209,174,1) 0%,rgba(237,237,237,1) 44%,rgba(214,209,174,1) 99%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(214,209,174,1) 0%,rgba(237,237,237,1) 44%,rgba(214,209,174,1) 99%); /* W3C */
}

/*css button class for hover event over buttons*/
.button:hover{
	
	text-decoration:none;
	color:white;
	background: #f6e6b4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
        cursor:pointer;
        
}
.ie .button{
        border:none;
	padding:5px 10px 5px 10px;
        margin:5px 5px 5px 5px;
	text-decoration:none;
	color:black;
        background: #DEDBC3;
}
.ie .button:hover{
	text-decoration:none;
	color:white;
	background: #EE9E30; /* Old browsers */
}

#LeasehoodText{
	color:#FFFFFF;
	font-size:.9em;
	text-align:left;
	float:left;
}



/* this section controls the table format of the tables
*/
.displayTable{
	border-collapse:collapse;
	border-style:solid;
	border-color:#000000;
	border-width: 1px;
	max-width:85%;
}

/*This section controls the sections of the table*/
.displayTable tr{
	border-style:solid;
	background-color:#EEEEEE;
	border-color:#000000;
	border-width: 1px;
	max-width:85%;
}

/*This section controls the display secitons of the table*/
.displayTable td{
	
	padding:5px 10px 5px 10px;
	border-style:solid;
	border-color:#000000;
	border-width: 1px;
	max-width:85%;
        
}/*This section controls the bottom navigation area
*/
#bottomNav{
	position:relative;
	bottom:10px;
        margin: 0 auto;
        margin-top: 50px;
        padding:0px 0px 0px 0px;
        text-align: left;
        height: 90%;
	width:1100px;
	height:150px;
	background: #363636; /* Old browsers */
	background: -moz-linear-gradient(top,  #363636 0%, #3f3f3f 12%, #484848 25%, #323232 39%, #1f1f1f 50%, #000000 51%, #0c0c0c 60%, #1f1f1f 76%, #141414 91%, #0d0d0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(12%,#3f3f3f), color-stop(25%,#484848), color-stop(39%,#323232), color-stop(50%,#1f1f1f), color-stop(51%,#000000), color-stop(60%,#0c0c0c), color-stop(76%,#1f1f1f), color-stop(91%,#141414), color-stop(100%,#0d0d0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #363636 0%,#3f3f3f 12%,#484848 25%,#323232 39%,#1f1f1f 50%,#000000 51%,#0c0c0c 60%,#1f1f1f 76%,#141414 91%,#0d0d0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #363636 0%,#3f3f3f 12%,#484848 25%,#323232 39%,#1f1f1f 50%,#000000 51%,#0c0c0c 60%,#1f1f1f 76%,#141414 91%,#0d0d0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #363636 0%,#3f3f3f 12%,#484848 25%,#323232 39%,#1f1f1f 50%,#000000 51%,#0c0c0c 60%,#1f1f1f 76%,#141414 91%,#0d0d0d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #363636 0%,#3f3f3f 12%,#484848 25%,#323232 39%,#1f1f1f 50%,#000000 51%,#0c0c0c 60%,#1f1f1f 76%,#141414 91%,#0d0d0d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#0d0d0d',GradientType=0 ); /* IE6-9 */
}
#bottomNav .bottomImages
{
   position: relative;
   top:-60px;
   float:right;
   width:50px;
}
.ie #bottomNav .bottomImages
{
   position: relative;
   top:0px;
   float:right;
   width:50px;
}
#bottomNav ul{
	float:left;
	
}
#bottomNav li{
	list-style:none;
	text-decoration:none;
	color:#FFD700;
}
#bottomNav li li {
	color:#ffffff;
	list-style: circle;
}
#bottomNav li li a{
	text-decoration:none;
	color:#ffffff;
}
#bottomNav li li a:hover{
	color:#A5A5A5;
	text-decoration:underline;
}
.ie #bottomNav{
    padding: 20px 0 0 20px;
    width:1100px;
}

/*Elements for controling the default aperance of the forms
*/
.formStyle {
    
    padding: 5px 10px 10px 10px;
    border:#FFFFFF;
    border:solid;
    border-width: 2px;
    text-align:center;
    
    
}
.formStyle input{
    font-size: 14pt;
    margin: 5px 5px 5px 5px;
    
    
    
}
.formStyle h2{
    margin-top: -30px;
    float:left;
    
}


/*This section controls the tooltip
*/
#tt {
 position:absolute;
 display:block;
 background:url(images/tt_left.gif) top left no-repeat;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 background:url(images/tt_top.gif) top right no-repeat;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
background:url(images/tt_bottom.gif) top right no-repeat;
overflow:hidden;
}
#residents{
    margin-top: 10px;
    margin-bottom: 10px;
}
#employers{
    margin-top: 10px;
    margin-bottom: 10px;
}

.formElement{
    background:#A5A5A5;
    width:100%;
    padding:10px 10px 10px 10px;
    margin-bottom: 5px;
}
form .counter{
	position:relative;
	right:200px;
	top:-10px;
	font-size:20px;
	font-weight:bold;
	color:#666;
	}
form .warning{color:#600;}	
form .exceeded{color:#e00;}

.special{
    float:right;
    margin-top: -20px;
    border:none;
}
.tanTextArea{
    padding:5px 5px 5px 5px;
    background:#999900;
}
.redTextArea{
    padding:5px 5px 5px 5px;
    background:#ff0000;
}
.yellowTextArea{    
    padding:5px 5px 5px 5px;
    background:#ffff00;
     margin:0 5px 0 5px;
}
.greenTextArea{
    padding:5px 5px 5px 5px;
    background:#66ff00;
    margin:0 5px 0 5px;
}
.greyTextArea{
    padding:5px 5px 5px 5px;
    background:#cccccc;
    margin:0 5px 0 5px;
}
.buttonForm{
    padding:0 0 0 0;
    margin:0 0 0 0;
    display:inline;
}




