/* 
    Document   : searchResults
    Created on : Oct 13, 2012, 3:06:22 PM
    Author     : dwpyle1
    Description:
        This stylesheet controls the elements on the search results pages.
*/
#searchResults{
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

    
}

#searchResults td{
    padding:5px 5px 5px 5px;
    
    
}

.searchHeader{
    color:orange;
    text-decoration:underline;
}

.searchResult{
    border:1px solid #484848;
    background: #EEEEEE;
}
.searchResult:hover{
    cursor:pointer;
    background:#484848;
}


